player-connection-mode=Listen
player-connection-guid=1330618389
player-connection-debug=0
player-connection-project-name=Trying.out.Fighting
player-connection-ip=172.26.43.189
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=51614d5412f144ae8f87ddc1fe42d722
